h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
.text-center {
  text-align: center;
}

.text-blue {
  color: var(--blue);
}

.text-muted {
  color: #536471;
  font-size: 0.8em;
  max-width: 300px;
}
