.modal {
  background-color: var(--dark-white-transparent);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal-container {
  border-radius: 20px;
  background-color: var(--dark-white);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
}
.modal-content {
  width: 50%;
}

.button-close-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
}

.logo-twitter-modal {
  position: absolute;
  top: 20px;
}

.modal-content input {
  border: 1px solid var(--ligth-gray);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--dark-white);
}
