.footer {
  width: 1200px;
  margin: 20px auto;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;

  .link {
    ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      li {
        a {
          font-size: 13px;
          color: #536471;

          &:hover {
            // border-bottom: 1px solid #536471;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .copy-right {
    margin: 14px 0;
    p {
      font-size: 13px;
      color: #536471;
    }
  }
}
